
* {
    box-sizing: border-box
}
body {
    background:#313030;
    font-family: sans-serif;
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
    border:30px solid #D30000;
    text-align: center;
    margin: auto

}
h1 {
    color: rgb(145, 248, 0);
    font-size: 62px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

h2 {
color: #0068FF;
text-decoration: underline;
font-weight: bold;
}

h3 {
color:#0068FF;
font-weight: bold;
}

p {
    font-weight: bold;
    font-size: 30px;
    font-weight: normal;
}

.main-header {
    background-color: #088E00;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    height: 250px
}

a:link {
    color:rgb(115, 255, 0);
    text-decoration: none;
    font-weight: normal;
}
a:visited {
    color: rgb(255, 196, 0);
    font-weight: normal;
}

a:hover {
    color: rgba(137, 0, 255, 0.8);
    font-weight: normal;

}

a:active {
    color: blue;
    font-weight: normal;
}

footer {
    font-size: 12px;
    text-align: left;
    font-weight: bold;
}